.form {
  flex: 6;
  border-radius: 0 10px 10px 0;
  padding: 50px;

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .inputForm {
      display: flex;
      flex-direction: column;

      label {
        font-size: 18px;
        color: #555;
        padding-bottom: 10px;
      }

      input,
      select {
        padding: 10px;
        font-size: 18px;
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
      }
    }

    button {
      padding: 10px;
      font-size: 18px;
      border: none;
      width: 150px;
      background-color: teal;
      color: white;
      border-radius: 5px;
      align-self: center;
      cursor: pointer;
    }
  }
}
