.client {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  .clientContainer {
    background-color: white;
    display: flex;
    width: 800px;
    height: 600px;
    border-radius: 10px;

    .newClient {
      flex: 6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px;

      .clientInput {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        label {
          font-size: 18px;
          color: #555;
          padding-bottom: 10px;
        }

        input {
          padding: 10px;
          font-size: 18px;
          border: none;
          outline: none;
          border-bottom: 1px solid gray;
        }
      }

      button {
        padding: 10px;
        font-size: 18px;
        border: none;
        width: 150px;
        background-color: teal;
        color: white;
        border-radius: 5px;
        align-self: center;
        cursor: pointer;
      }
    }
  }
}
